include LICENSE.txt README.md 
include CMakeLists.txt
include embedfile.sh
recursive-include source *
recursive-include include *
recursive-include python *
recursive-include lua *
recursive-include cmake *
include nauty/CMakeLists.txt
recursive-include tests *
global-exclude __pycache__/* *.pyc
global-exclude *.a *.o
cmake
#doxygen
#lint
#profile
#test
